body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}
body p,
a {
  font-family: "Source Sans 3", sans-serif;
}
main {
  flex: 1;
  max-width: 1000px;
  margin: 10px auto;
  padding: 30px;
  margin-bottom: 20px;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #e2dcdc;
}
h2 {
  padding-bottom: 0;
}
.img {
  box-shadow: 10px 5px 5px black;
}
/* NAVBAR BASE */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: rgb(161, 161, 223);
  backdrop-filter: blur 10px;
  padding: 18px 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
  list-style: none;
}
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-logo img {
  height: 40px;
  width: auto;
}
/*Logo Text*/
.navbar-logo span {
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: underline black;
}
/* MENU */
.navbar-menu {
  display: flex;
  gap: 20px;
}
.navbar-menu a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}
.navbar-menu a:hover {
  color: white;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(161, 161, 223);
  margin-top: 100px;
}
.footer-left,
.footer-right,
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}
footer p {
  margin: 5px;
}
.socials i {
  font-size: 24px;
  color: white;
}

/*Home page*/

.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content-text,
.content-text-explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
.hero img {
  width: 100%;
  border-radius: 10px;
  max-height: 800px;
  box-shadow: 10px 10px 1px black;
}
.content {
  gap: 20px;
  padding: 20px;
}
.content img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 10px 5px 1px black;
}
.content p,
h1,
h2,
h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
/*Explore*/

.content-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin-bottom: 40px;
}
.content-image-row {
  display: flex;
  width: 100%;
}
.content-image-row img {
  width: 100%;
  border-radius: 10px;
  max-height: 400px;
}
.content-text-explore {
  justify-content: center;
}

/*exhibits*/

.exhibition {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.evolution,
.moon,
.evolution-2,
.ai-nexus,
.global-warming,
.wheelchair,
.shop,
.sponsors,
.cooperating,
.museum-teachers,
.exhibition,
.black-hole {
  width: 100%;
  border-radius: 8px;
  box-shadow: 10px 5px 5px black;
}
.moon {
  margin: 10px;
}
.cooperating {
  margin: 0;
}
.section1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.section-grid1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px 20px;
  align-items: center;
}
.section-grid2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}
.section-grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
  text-align: center;
}

/*Special Events*/
.content-row-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.section1 img {
  width: 100%;
  border-radius: 8px;
}
.section1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.section2 {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  align-items: center;
  text-align: center;
}
.section1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section1-text2 {
  line-height: 0.8;
}
.divider-blue,
.divider-green,
.divider-purple {
  height: 50px;
  margin: 50px 0;
  border-radius: 8px;
  width: 100%;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}
.divider-blue {
  background-color: rgb(22, 22, 167);
}
.divider-green {
  background-color: rgb(34, 152, 34);
}
.divider-purple {
  background-color: rgb(129, 20, 129);
}

/* Visit Us*/
.science-museum {
  width: 100%;
  margin-top: 30px;
}
iframe {
  width: 100%;

  height: 450px;
}
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img:hover {
  scale: 105%;
  transition-delay: 1.5s;
  transition-duration: 4s;
}

/* HAMBURGER */
#menu-toggle {
  display: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.navbar-toggle span {
  width: 25px;
  height: 2px;
  background: rgb(0, 0, 0);
  margin: 4px 0;
}
/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    padding: 12px 16px;
  }
  .navbar-toggle {
    display: flex;
  }
  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.98);
    flex-direction: column;
    display: none;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .navbar-menu a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
  }
  #menu-toggle:checked ~ .navbar-menu {
    display: flex;
  }
  .section-grid1,
  .section-grid2,
  .section-grid3,
  .section1,
  .section2,
  .section-column1,
  .content,
  .content-row,
  .content-column,
  .iframe-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navbar {
    display: flex;
    width: 100%;
  }
  /*
  .logo {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
  }
    */
}
